<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>Centaurus - Bootstrap Admin Template</title>
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap/bootstrap.min.css"/>
<script src="__JS__/demo-rtl.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/libs/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/libs/nanoscroller.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/compiled/theme_styles.css"/>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
<script src="__JS__/jquery.js"></script>
<script src="__STATIC__/jquery.validation.min.js"></script>
<link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>
<!--[if lt IE 9]>
<script src="__JS__/html5shiv.js"></script>
<script src="__JS__/respond.min.js"></script>
<![endif]-->
</head>